.heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.side {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
}